body {
  color: #fff;
  background: #0b0a11;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Baloo 2', cursive; -apple-system ,BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell,
    'Helvetica Neue', sans-serif;
}

.container {
  margin: 40px auto;
  max-width: 960px;
}

.flex {
  display: flex;
}

.center {
  justify-content: center;
  align-items: center;
}

.column {
  flex-direction: column;
}

.padding-side {
  padding-left: 40px;
  padding-right: 40px;
}

.align-center {
  text-align: center;
}

.primary {
  color: #ffff0b;
}

.secondary {
  color: #8f88b8;
}

.header__logo {
  width: 50px;
}

.header__logo {
  width: 50px;
}

.header__text {
  font-size: 16px;
  font-weight: normal;
}

.h3 {
  padding: 40px;
  font-size: 24px;
  text-transform: uppercase;
}

.item {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 4px 24px;
  border: solid 1px #191824;
  align-items: center;
  background-color: #110e1b;
  margin-top: -1px;
}

.item:last-child {
  margin-top: 0;
}

.item__title {
  font-size: 18px;
}

.item__info {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.n {
  padding: 12px;
  width: 80px;
}
.n__label {
  font-size: 12px;
}

.n__number {
  font-size: 32px;
  font-weight: 700;
}

.n--money {
  width: auto;
  color: #36d88e;
}

.n--money small {
  font-size: .7em;
}

.p {
  position: relative;
  width: 42px;
  height: 80px;
  background-color: #191824;;
  border: solid 1px #191824;
  padding: 3px;
  display: flex;
  flex-direction: column-reverse;
}

.p__percent {
  position: absolute;
  top: 30px;
  left: 9px;
  font-size: 12px;
  color: #fff;
}

.p__progress {
  height: 0;
  width: 100%;
}

.low {
  min-height: 5px;
  background-color: #941f2f;
  animation: shadow 1s infinite ease;
}

.medium {
  background-color: orange;
  animation: shadow 3s infinite ease;
}

.high {
  background-color: #218da5;
}

.reached {
  background-color: #22A53B;
}

.circle {
  position: relative;
  width: 80px;
  height: 80px;
}

.circle img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 60px;
  border-radius: 50%;
}

.circle svg {
  fill: none;
  stroke: #8a3ab9;
  stroke-linecap: round;
  stroke-width: 3;
  stroke-dasharray: 1;
  stroke-dashoffset: 0;
  animation: stroke-draw 6s ease-out infinite alternate;
}

@keyframes stroke-draw {
  0% {
    stroke: #8a3ab9;
    stroke-dasharray: 1;
  }
  100% {
    stroke: #cd486b;
    transform: rotate(100deg);
    stroke-dasharray: 8;
  }
}

.heroes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0 24px 40px;
}

.contact {
  text-align: center;
  padding: 0 40px 40px;
  font-size: 35px;
  flex-direction: column;
}

.whats {
  color: #fff;
  text-decoration: none;
  font-size: 40px;
}
.contact small {
  font-size: 32px;
  margin-right: 12px;
}

.footer {
  display: flex;
  flex-direction: column;
  padding: 80px 40px 40px;
  font-size: 16px;
  border-top: solid 1px #191824;
}

.footer__logo {
  margin-top:16px;
  height: 40px;
}

.paragraph {
  padding: 24px 0;
}

.subsection {
  padding: 24px;
}

.subsection .icon {
  font-size: 32px;
  margin-right: 16px;
}

.subsection h4 {
  display: flex;
  align-items:center;
}

@media (min-width: 768px) {
  .item__title {
    font-size: 24px;
  }
}

.whats {
  color: #fff;
  text-decoration: none;
}
.contact {
  text-align: center;
  padding: 0 40px 40px;
  font-size: 20px;
  flex-direction: column;
}

.info {
  margin: 0;
  padding: 0;
}

.info li {
  display: grid;
  grid-template-columns: 1fr 1fr 20%;
  padding: 0px 24px;
  border: solid 1px #191824;
  align-items: center;
  margin-top: -1px;
}

.info__money {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 24px;
  color: #36d0d8;
  font-weight: bold;
}
.info__money small {
  margin-right: 8px;
}

@keyframes shadow {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}